<header class="header header--home">
  <div class="container content">
    <h5>WHO</h5>
    <h1>
      <span class="highlight">Noddy Eruchalu</span> is an
      <span class="highlight">Engineer</span> with product management
      experience. He picked up his skills at Caltech
      {{#link-to "home.bio"}}
        and you can get his full story here.
      {{/link-to}}
    </h1>
  </div>
</header> <!-- /.header--home -->

<section class="skills skills--home">
  <div class="container content">
    <h5>SKILLS</h5>
    <div class="tags">
      <button class="btn {{if skillIsIos 'is-active'}}"
              {{action "selectSkill" "ios"}}>iOS</button>
      <button class="btn {{if skillIsWeb 'is-active'}}"
              {{action "selectSkill" "web"}}>Web</button>
      <button class="btn {{if skillIsBackend 'is-active'}}"
              {{action "selectSkill" "backend"}}>Backend</button>
      <button class="btn {{if skillIshardware 'is-active'}}"
              {{action "selectSkill" "hardware"}}>Hardware</button>
    </div>
  </div>
</section> <!-- /.skills--home -->

<section class="projects projects--home">
  <div class="container content">
    <h5 class="projects-heading {{if skill '' 'projects-heading--noskill'}}">
      {{projectsTitle}}
      {{#if skill}}
        <button class="btn" {{action "deselectSkill"}}>
          [View All]</button>
      {{/if}}
    </h5>
    {{#each projects as |project|}}
      <div class="project">
        <h3 class="project-title">{{project.title}}</h3>
        <p class="project-year">{{project.year}}</p>
        <p class="project-description">{{project.description}}</p>
        {{link-to  "More" project.route class="btn btn--primary"}}
      </div> <!-- /.project -->
    {{/each}}
  </div>
</section> <!-- /.projects--home -->

<footer class="footer footer--home">
  <div class="container content">
    Email: <a href="mailto:noddy@nnoduka.com">noddy@nnoduka.com</a>
  </div>
</footer> <!-- /.footer-home -->
